//- script.
//- 	$.get("../api/article.json", function(data){
//- 		var list = data;
//- 	});
-var list =[{"pic1":"../images/case/c12.jpg","pic2": "../images/case/c1.jpg","detail": " 楼面整体防水3000方","place": "白云区5号停机坪"}, {"pic1":"../images/case/c22.jpg","pic2": "../images/case/c2.jpg","detail": "楼面整体防水","place": "番禺市桥大北路7天酒店"}, {"pic1":"../images/case/c32.jpg","pic2": "../images/case/c3.jpg","detail": "楼面伸缩缝","place": "番禺市桥海绵包装集团公司"}, {"pic1":"../images/case/c42.jpg","pic2": "../images/case/c4.jpg","detail": "楼面整体防水400方","place": "南沙区黄阁镇凤凰村二期"}, {"pic1":"../images/case/c52.jpg","pic2": "../images/case/c5.jpg","detail": "楼面整体防水1800方","place": "沙湾弘晶之恋臻品酒家"}, {"pic1":"../images/case/","pic2": "../images/case/c6.jpg","detail": "楼面整体防水60方","place": "天河中山大道邮电医院宿舍"}, {"pic1":"../images/case/c72.jpg","pic2": "../images/case/c7.jpg","detail": "洗手间防水","place": ""}];
-for (var i = 0; i < list.length; i++) 
	div.column
		div.ui.link.cards
			div.card
				div.ui.move.reveal
					div.visible.content.image(style="background:url(#{list[i].pic1}) no-repeat center;background-size:cover;width:100%;height:200px;")
					div.hidden.content.image(style="background:url(#{list[i].pic2}) no-repeat center;background-size:cover;width:100%;height:200px;")

				div.content
					div.header #{list[i].detail}
					//- div.meta
					//- 	a #{list[i].}
				div.extra.content
					span
						i.marker.icon
						| #{list[i].place}
